<% provide(:title, "Edit user") %>
<link href="https://fonts.googleapis.com/css?family=League+Script|Open+Sans:400,700" rel="stylesheet">
<h1 style="font-family: 'League Script', cursive; font-weight: bolder; font-size: 60px;">Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <h2>Account Information:</h2>
      <%= f.label :name, "Full Name:" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, "Email:" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Password:" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation:" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>


      <hr><h2>Personal Information:</h2>

      <%= f.label :cell_number, "Cell Phone Number:" %>
      <%= f.text_field :cell_number, class: 'form-control' %>

      <%= f.label :school_grade, "Current Grade:" %>
      <%= f.text_field :school_grade, class: 'form-control' %>

      <%= f.label :school_major, "Major:" %>
      <%= f.text_field :school_major, class: 'form-control' %>



<hr><h2>Sorority Information:</h2>

      <%= f.label :greek_status, "Current status:" %>
      <%= f.text_field :greek_status, class: 'form-control' %>

      <%= f.label :greek_class, "Class:" %>
      <%= f.text_field :greek_class, class: 'form-control' %>

      <%= f.label :greek_position, "Position:" %> <Small>(if applicable)</Small>
      <%= f.text_field :greek_position, class: 'form-control' %>

      <%= f.label :greek_big, "Big:" %>
      <%= f.text_field :greek_big, class: 'form-control' %>

      <%= f.label :greek_little, "Little:" %> <Small>(if applicable)</Small>
      <%= f.text_field :greek_little, class: 'form-control' %>


      <%= f.submit "Save changes", class: "link lhover" %>
    <% end %><br>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>